**/Manifest.toml

# Temporary
*.DS_Store
*.swp
*.jl.cov
*.jl.*.cov
*.jl.mem
*.DS_Store
*~
TAGS

# Figs
*.png
*.jpg
*.jpeg
*.svg

# Movies
*.gif
*.mp4

# Docs
docs/build/
docs/src/generated/
!docs/src/assets/*.png
!docs/src/assets/*.svg
!docs/src/images/*.png

# Experiments
!experiments/AMIP/**/Manifest.toml
!experiments/ClimaCore/**/Manifest.toml
!perf/Manifest.toml

# Data
*.vtk
*.dat
*.vtu
*.pvtu
*.nc
*.jld2
*.g
*.hdf5

# Julia System Images
*.so

# internal tests
testdel.jl

# ignore vscode artifacts
*.vscode
*.DS
