experiments/AMIP/moist_mpi_earth/Manifest.toml
experiments/AMIP/moist_mpi_earth/regrid_tmp/*.g
experiements/AMIP/moist_mpi_earth../*

# Temporary
*.DS_Store
*.swp
*.jl.cov
*.jl.*.cov
*.jl.mem
*.DS_Store
*~
TAGS

# Figs
*.png
*.jpg
*.jpeg
*.svg

# Movies
*.gif
*.mp4

# Docs
docs/Manifest.toml
docs/build/
docs/src/generated/
!docs/src/assets/*.png
!docs/src/assets/*.svg
!docs/src/images/*.png

# Data
*.vtk
*.dat
*.vtu
*.pvtu
*.nc
*.jld2

# Julia System Images
*.so

# internal tests
testdel.jl
