name: ci
on:
  push:
    tags: '*'
  pull_request:

# Needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: ci ${{ matrix.version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      ECCO_USERNAME: ${{ secrets.ECCO_USERNAME }}
      ECCO_WEBDAV_PASSWORD: ${{ secrets.ECCO_WEBDAV_PASSWORD }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.10'
          - '1.11'
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - name: Submit coverage
        if: ${{ matrix.version == '1.11' }} && ${{ matrix.os == 'ubuntu-latest' }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: lcov.info
      - run: |
          julia --color=yes --project=experiments/ClimaEarth -e 'using Pkg; Pkg.instantiate()'
          julia --color=yes --project=experiments/ClimaEarth -e 'using Pkg; Pkg.develop(; path = ".")'
          julia --color=yes --project=experiments/ClimaEarth experiments/ClimaEarth/test/runtests.jl
      - run: |
          julia --color=yes --project=experiments/ClimaCore -e 'using Pkg; Pkg.instantiate()'
          julia --color=yes --project=experiments/ClimaCore -e 'using Pkg; Pkg.develop(; path = ".")'
          julia --color=yes --project=experiments/ClimaCore experiments/ClimaCore/test/runtests.jl
